{{!-- {{#if message}}
    <div id='popupNotification' class='popup'>
        <p>{{message}}</p>
        <button id='closePopup'>Close</button>
    </div>
{{/if}} --}}
<table class='table'>
	<thead>
		<tr>
			<th>Question</th>
			<th>Category</th>
			<th>Type</th>
			{{! <th>Question use count</th> }}
			<th>
				<div class='add'>
					<a
						href='/questions/create-question'
						class='button'
					>Create</a>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		{{#each questions}}
			<tr>
				<td>{{this.questionText}}</td>
				<td>{{this.categoryName}}</td>
				<td>{{this.type}}</td>
				{{!-- <td>{{this.useCount}}</td> --}}
				<td>
					<form
						action='/questions/question/{{this.questionId}}'
						method='POST'
					>
						<a
							href='/questions/question/edit/{{this.questionId}}'
							class='button'
						>Edit</a>
						<input type='hidden' name='_method' value='DELETE'>
						<button type='submit' class='button'>Delete</button>
					</form>
				</td>
			</tr>

		{{/each}}
	</tbody>
</table>