{{!-- 
<main>
  <h1>Users</h1>

  <form action="/addUser" method="get">
    <button type="submit">Add User</button>
  </form>

  <form action="//getuser/{{user._id}}" method="get">
    <button type="submit">Update Record</button>
  </form>

  <form action="/delete" method="get">
    <button type="submit">Delete Record</button>
  </form>

</main> --}}
<main>
    <div id="survey-container">
        <form id="survey-form" method="POST" action="/survey">
            <h2>{{title}}</h2>
            <div>
                <label for="surveyName">Survey Name:</label>
                <input type="text" id="surveyName" name="surveyName" placeholder="Enter survey name" required>
            </div>
            
            <div>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            
            <div>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" required>
            </div>

            <div>
                <label for="questionnaire">Questions:</label>
                <input type="text" id="questionnaire" name="questionnaire" required>
            </div>

            <div>
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <table class="table">
  <thead>
    <tr>
        <th>Action</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each userList}}
      <tr>
        <td>
            <input type="checkbox" name="userMapping" id="{{this._id}}" value="{{this._id}}" {{#if checked}}checked{{/if}}>
        </td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.email}}</td>
      </tr>

    {{/each}}
  </tbody>
</table>
            <input type="submit" id="submit" name="Submit">
        </form>
    </div>
</main>