{{!-- 
<main>
  <h1>Users</h1>

  <form action="/addUser" method="get">
    <button type="submit">Add User</button>
  </form>

  <form action="//getuser/{{user._id}}" method="get">
    <button type="submit">Update Record</button>
  </form>

  <form action="/delete" method="get">
    <button type="submit">Delete Record</button>
  </form>

</main> --}}
<main>
  {{#if hasErrors}}
    <div id="serverErrorDiv">
      <ul class="error">
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div id="survey-container">
    <form
      id="survey-form"
      method="POST"
      action="/survey"
      enctype="multipart/form-data"
    >
      <h2>{{title}}</h2>
      <div>
        <input
          type="hidden"
          id="surveyCreated"
          name="surveyCreated"
          value="{{surveyCreated}}"
        />
      </div>
      <div>
        <label for="surveyName">Survey Name:</label>
        <input
          type="text"
          id="surveyName"
          name="surveyName"
          placeholder="Enter survey name"
          required
        />
      </div>

      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required />
      </div>

      <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required />
      </div>

      <div>
        <label for="questionnaire">Questions:</label>
        {{! <input type="text" id="questionnaire" name="questionnaire" required /> }}
        <input type="hidden" name="selectedQuestions" id="selectedQuestions" />
        <div id="selectedQuestionDevTag"></div>
        <button id="questionnaire" class="add-btn">+ Add Question</button>
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

      <div id="selectionRadio">
        <p>User Mapping</p>
        <input
          type="radio"
          name="inputType"
          value="excel"
          onclick="userMappingSelection('excel')"
          required
        />
        Bulk Upload (.xlsx,.csv)
        <input
          type="radio"
          name="inputType"
          value="manual"
          onclick="userMappingSelection('manual')"
        />
        Add UserMapping Manually
      </div>

      {{!-- <div>
        <label for="surveyedFor">Survey For:</label>
        <select id="surveyedFor" name="surveyedFor">
          {{#each userList}}
            <option
              value="{{this._id}}"
              data-email="{{this.email}}"
            >{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <label for="surveyedBy">Survey By:</label>
        <select id="surveyedBy" name="surveyedBy[]" multiple>
          {{#each userList}}
            <option
              value="{{this._id}}"
              data-email="{{this.email}}"
            >{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div> --}}
      <div class="form-group" id="excel_upload">
        <input type="file" name="file" id="excelFile" accept=".xlsx,.csv" />
      </div>
      <div id="dropdown-container">
        {{! <label for="addSurveyFor">User Mapping:</label> }}

        <button type="button" id="addSurveyFor" class="add-btn">+ Add Survey For</button>

        <div id="selectedSurveyForUser" class="accordion-container">

        </div>

        <input type="hidden" name="userMappingData" id="userMappingData" />

      </div>
      <input type="submit" id="submitBtn" name="submitBtn" />
    </form>
    <div id="userDropDown" class="search-dropdown" style="display: none;">
      <div class="search-box">
        <input
          type="text"
          id="search-input"
          class="search-input"
          placeholder="Search..."
        />
      </div>
      <ul class="dropdown-list" id="dropdown-list">

      </ul>
    </div>

  </div>
</main>
<script src="/public/js/survey.js"></script> --}}

<main>
  <div id="survey-container">
    <form id="survey-form" method="POST"  action="{{#if isEditMode}}/surveylist/edit/{{surveyCreated._id}}{{else}}/survey{{/if}}">
      <h2>{{title}}</h2>
      <div>
        <input type="hidden" id="surveyCreated" name="surveyCreated" value="{{surveyCreated}}" />
      </div>
      <div>
        <label for="surveyName">Survey Name:</label>
        <input
          type="text"
          id="surveyName"
          name="surveyName"
          value="{{surveyCreated.surveyName}}"
          placeholder="Enter survey name"
          required
        />
      </div>

      <div>
        <label for="startDate">Start Date:</label>
        <input
          type="date"
          id="startDate"
          name="startDate"
          value="{{surveyCreated.startDate}}"
          required
        />
      </div>

      <div>
        <label for="endDate">End Date:</label>
        <input
          type="date"
          id="endDate"
          name="endDate"
          value="{{surveyCreated.endDate}}"
          required
        />
      </div>

      <div>
        <label for="questionnaire">Questions:</label>
        <input type="hidden" name="selectedQuestions" id="selectedQuestions" value="{{surveyCreated.selectedQuestions}}" />
        <div id="selectedQuestionDevTag">
          {{!-- {{#each surveyCreated.selectedQuestions}}
            <div>{{this}}</div>
          {{/each}} --}}
        </div>
        <button id="questionnaire" class="add-btn">+ Add Question</button>
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="active" {{#if (isEqual survey.status "active")}}selected{{/if}}>Active</option>
          <option value="inactive" {{#if (isEqual survey.status "inactive")}}selected{{/if}}>Inactive</option>
        </select>
      </div>

      <div id="dropdown-container">
        <label for="addSurveyFor">User Mapping:</label>
        <button type="button" id="addSurveyFor" class="add-btn">+ Add Survey For</button>

        <div id="selectedSurveyForUser" class="accordion-container">
          {{!-- {{#each surveyCreated.userMapping}}
            <div>{{this.surveyedFor}}</div>
          {{/each}} --}}
        </div>

        <input type="hidden" name="userMappingData" id="userMappingData" value="{{surveyCreated.userMappingData}}" />
      </div>
      <input type="submit" id="submitBtn" name="submitBtn" value="{{#if isEditMode}}Update Survey{{else}}Create Survey{{/if}}" />
    </form>
    <div id="userDropDown" class="search-dropdown" style="display: none;">
      <div class="search-box">
        <input
          type="text"
          id="search-input"
          class="search-input"
          placeholder="Search..."
        />
      </div>
      <ul class="dropdown-list" id="dropdown-list"></ul>
    </div>
  </div>
</main>
<script src="/public/js/survey.js"></script>
