{{#if hasErrors}}
    <div id="serverErrorDiv">
      <ul class="error">
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <div id="errorDiv" hidden>
    <ul id="errorDivUl" class="error">

    </ul>
  </div>
  {{!-- <div class="formDiv"> --}}
<div class="add-form">
  <form action="/users/userProfile/" method="post" id="updateUser">
    <input type="hidden" name="_id" value="{{user._id}}" />
    <div class="form">
      <label>First Name</label>
      <input
        id="firstName"
        class="form-control"
        name="firstName"
        placeholder="firstName"
        required
        value="{{user.firstName}}"
      />
    </div>
    <div class="form">
      <label>Last Name</label>
      <input
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="lastName"
        required
        value="{{user.lastName}}"
      />
    </div>
    <div class="form">
      <label>Email</label>
      <input
        id="email"
        name="email"
        class="form-control"
        placeholder="email"
        required
        value="{{user.email}}"
      />
    </div>
    <div class="form">
      <label>User Id</label>
      <input
        class="form-control"
        id="userId"
        name="userId"
        placeholder="userId"
        required
        value="{{user.userId}}"
      />
    </div>
    <div class="form">
      <label>Role</label>
      <input
        class="form-control"
        id="role"
        name="role"
        placeholder="role"
        required
        value="{{user.role}}"
      />
    </div>
    <div>
      {{!-- <a href="/users/" class="button">☰ View All</a> --}}
      <button type="submit" class="button">
        Submit
      </button>
    </div>
  </form>
</div>
<script src="/js/users.js"></script>