<main>
  <form action="/users/getuser/{{user._id}}" method="get">
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value="{{user.firstName}}"
      required
    />
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      value="{{user.lastName}}"
      required
    />
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      value="{{user.email}}"
      required
    />
    <label for="password">Password:</label>
    <input
      type="text"
      id="password"
      name="password"
      value="{{user.password}}"
      required
    />
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      value="{{user.username}}"
      required
    />
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" value="{{user.role}}" required />
    <label for="survey">Survey:</label>
    <input
      type="text"
      id="survey"
      name="survey"
      value="{{user.survey}}"
      required
    />
    <button type="submit">Update</button>
  </form>
</main>