{{!-- {{#if (isEqual session.user.role "admin")}} --}}
{{#if hasErrors}}
  <div id="serverErrorDiv">
    <ul class="error">
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<div id="errorDiv" hidden>
  <ul id="errorDivUl" class="error">

  </ul>
</div>
{{! <div class="formDiv"> }}
<form action="/users" method="POST" name="userList" id="userList">
  <label class="label" for="searchTerm">Search :</label>
  <input
    class="inputText"
    type="text"
    id="searchTerm"
    name="searchTerm"
    value="{{searchTerm}}"
  >
  <input class="submit" type="submit" value="Search">
</form>
{{#if "searchTerm"}}
  {{#if users}}
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>User Id</th>
          <th>role</th>
          <th>
            {{! <div class="add">
          <a href="/users/addUser" class="button">+ Add</a>
        </div> }}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td id="firstName_{{this._id}}">{{this.firstName}}</td>
            <td id="lastName_{{this._id}}">{{this.lastName}}</td>
            <td id="email_{{this._id}}">{{this.email}}</td>
            <td id="userId_{{this._id}}">{{this.userId}}</td>
            <td id="role_{{this._id}}">{{this.role}}</td>
            <td>
              <form action="/users/delete/{{this._id}}" method="post">
                <a
                  href="/users/addUser/{{this._id}}"
                  class="button"
                  id="editButton_{{this._id}}"
                >Edit</a>
                <button
                  type="submit"
                  class="button"
                  id="deleteButton_{{this._id}}"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>

        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{else}}
  <table class="table1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>User Id</th>
        <th>role</th>
        <th>
          {{! <div class="add">
          <a href="/users/addUser" class="button">+ Add</a>
        </div> }}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.firstName}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.email}}</td>
          <td>{{this.userId}}</td>
          <td>{{this.role}}</td>
          <td>
            <form action="/users/delete/{{this._id}}" method="post">
              <a href="/users/addUser/{{this._id}}" class="button">Edit</a>
              <button type="submit" class="button">
                Delete
              </button>
            </form>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
{{/if}}
<a href="/users">Back to All users</a>
<script src="/js/users.js"></script>
{{!-- {{else}}
<div class="add-form">
  <form action="/users/" method="get">
    <input type="hidden" name="_id" value="{{user._id}}" />
    <div class="form">
      <label>First Name</label>
      <input
        id="firstName"
        class="form-control"
        name="firstName"
        placeholder="firstName"
        required
        value="{{user.firstName}}"
      />
    </div>
    <div class="form">
      <label>Last Name</label>
      <input
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="lastName"
        required
        value="{{user.lastName}}"
      />
    </div>
    <div class="form">
      <label>Email</label>
      <input
        id="email"
        name="email"
        class="form-control"
        placeholder="email"
        required
        value="{{user.email}}"
      />
    </div>
    <div class="form">
      <label>User Id</label>
      <input
        class="form-control"
        id="username"
        name="username"
        placeholder="username"
        required
        value="{{user.userId}}"
      />
    </div>
    <div class="form">
      <label>Role</label>
      <input
        class="form-control"
        id="role"
        name="role"
        placeholder="role"
        required
        value="{{user.role}}"
      />
    </div>
  <a href="/users/addUser/{{user._id}}" class="button">Edit</a>
  </form>
</div>
{{/if}} --}}