{{#if hasErrors}}
  <div id="serverErrorDiv">
    <ul class="error">
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<div id="errorDiv" hidden>
  <ul id="errorDivUl" class="error">

  </ul>
</div>
{{! <div class="formDiv"> }}
<div class="add-form">
  <form action="/users/userProfile" method="get" id="userProfile">
    <input type="hidden" name="_id" value="{{user._id}}" />
    <div class="form">
      <label>First Name</label>
      <input
        readonly
        id="firstName"
        class="form-control"
        name="firstName"
        placeholder="firstName"
        required
        value="{{user.firstName}}"
      />
    </div>
    <div class="form">
      <label>Last Name</label>
      <input
        readonly
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="lastName"
        required
        value="{{user.lastName}}"
      />
    </div>
    <div class="form">
      <label>Email</label>
      <input
        readonly
        id="email"
        name="email"
        class="form-control"
        placeholder="email"
        required
        value="{{user.email}}"
      />
    </div>
    <div class="form">
      <label>User Id</label>
      <input
        readonly
        class="form-control"
        id="username"
        name="username"
        placeholder="username"
        required
        value="{{user.userId}}"
      />
    </div>
    <div class="form">
      <label>Role</label>
      <input
        readonly
        class="form-control"
        id="role"
        name="role"
        placeholder="role"
        required
        value="{{user.role}}"
      />
    </div>
    <a href="/users/userProfile/{{user._id}}" class="button">Edit</a>
    {{#if isSurveyAvailableForThisUser}}
    {{#each surveyData}}

      <div>

        <h3>{{this.surveyName}}
          <span>
            <a
              href="/dashboard/surveystats/{{this._id}}/{{../session.user._id}}"
            >
              Survey Stats
            </a>
          </span>
        </h3>
      </div>

    {{/each}}
    <h2>No Surveys for you!</h2>
    {{/if}}
  </form>

</div>
<script src="/js/users.js"></script>